body{
	background: url(../images/bg.png);
}

.qes{
	color: #5bc0de;
	font-weight: bold;
}
.paragraph:hover{
	border: 1px solid #2b9dbf;
	padding: 10px;
	border-radius: 20px;
	background-color: #2b9dbf;
	box-shadow: 8px 8px 8px 0px #d1ebf3;
}
.paragraph{
	border: 1px solid #2b9dbf;
	padding: 10px;
	border-radius: 20px;
	background-color: #d1ebf3;
	box-shadow: 8px 8px 8px 0px #2b9dbf;
}
.yes{
	color: #5cb85c;
	font-weight: bold;
}
.no{
	color: #d30303;
	font-weight: bold; 
}
.bg_qes:hover{
	background: #ffffff;
	padding: 10px;
}
.bg_qes{
	box-shadow: 7px 7px 7px 0px #ccc;
	padding: 10px;
}

.title{
	color: #2b9dbf;
	font-weight: bold;
}
.t_style{
	padding: 10px;
}
.t_style span,
.t_style p{
	color: #d30303;
	font-weight: bold;  
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #fff;
    margin: 1em 0; padding: 0; 
}
.h_style h3{
	color: #d30303;
	font-size: 26px;
	font-family: 'Adobe Arabic';
}
.h_style p{
	text-align: justify;
}
.panel-default>.panel-heading {
  color: #FFFFFF;
  background-color: #d9534f;
  border-color: #ddd;
}
.panel-default>.panel-body p {
  text-align: justify;
}